# Local files
.DS_Store
*.log

# Generated data and output
data/pulled/
data/generated/
output/

# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Quarto
.quarto
/.vscode
/.quarto/



# output folder
output/
# raw external data - never commit
data/external/
# transfer archives - never commit
*.tar
*.tar.gz
*.zip
nd_logs_by_year/
ziPSVg1N
